html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
head{
	display: none;
}


@keyframes slide0{
	0%{
		left: -100%;
	}
	100%{
		left: -200%;
	}
}
@keyframes slide1{
	0%{
		left: 0%;
	}
	100%{
		left: -100%;
	}
}
@keyframes slide2{
	0%{
		left: 100%;
	}
	100%{
		left: 0%;
	}
}
@keyframes slide3{
	0%{
		left: 200%;
	}
	100%{
		left: 100%;
	}
}
.az-slider{
	width: 100%;
	height: 100%;
	min-width: 200px;
	min-height: 100px;
	position: relative;
	overflow: hidden;
}
.az-slide1{
	position: absolute;
	top: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.az-slide2{
	position: absolute;
	top: 0px;
	left: 100%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.az-slide3{
	position: absolute;
	top: 0px;
	left: 200%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.az-animate1{
	animation: slide1 2s ease-in-out 3s, slide0 2s ease-in-out 6s;
	animation-fill-mode: forwards, forwards;
}
.az-animate2{
	animation: slide2 2s ease-in-out 3s, slide1 2s ease-in-out 6s;
	animation-fill-mode: forwards, forwards;
}
.az-animate3{
	animation: slide3 2s ease-in-out 3s, slide2 2s ease-in-out 6s;
	animation-fill-mode: forwards, forwards;
}
.az-controls{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
}
.az-dot{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #161616;
	margin: 0 5px;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
}
input[type="radio"]{
	display: none;
}
.az-radio1:checked ~ .az-controls .az-dot1{
	background: #161616;
}
.az-radio2:checked ~ .az-controls .az-dot2{
	background: #161616;
}
.az-radio3:checked ~ .az-controls .az-dot3{
	background: #161616;
}

.az-item1{
	width: 100%;
	height: 100%;
	background: #388E3C;
	text-align: center;
}

.az-item2{
	width: 100%;
	height: 100%;
	background: #689F38;
	text-align: center;
}
.az-item3{
	width: 100%;
	height: 100%;
	background: #AFB42B;
	text-align: center;
}
.az-item1:before, .az-item2:before, .az-item3:before{
	content: '';
	width: 0px;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.az-jet{
	display: inline-block;
	color: #fff;
	font-size: 32px;
}

/*svg {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  border: 3px solid #eee;
  display: block;
  margin: 1em auto;
}
text {
  fill: #fff;
  font-size: 2em;
}*/
/*BODY {*/
  /*background: #082330;*/
  /*background-size: .12em 100%;*/
  /*font: 16em/1 Arial;*/
/*}*/

.text--line {
  line-height: 100%;
}
.text--line2 {
  line-height: 100%;
}
.text--line3 {
  line-height: 100%;
}
svg {
  position: absolute;
  top: 0px;
  left: 0px;
  /*background-size: .12em 100%;*/
  font: 8em/1 "Times New Roman";
  width: 100%;
  height: 100%;
}


.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 0% 100%;
  stroke-width: 1px;
  stroke-opacity: 0.7;
  -webkit-animation: stroke-offset 9s linear;
          animation: stroke-offset 9s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.text-copy:nth-child(1) {
  stroke: white;
  stroke-dashoffset: 7%;
}

.text-copy:nth-child(2) {
  stroke: #388E3C;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
	stroke: white;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
	stroke: #388E3C;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
	stroke: white;
  stroke-dashoffset: 35%;
}
.text-copy2{
	animation-delay: 3s;
}
.text-copy3{
	animation-delay: 6s;
}
@-webkit-keyframes stroke-offset {
25%{
		fill: transparent;
	}
	35%{
		/*stroke-width: .5px;*/
		stroke-opacity: 0.3;
	}
  50% {
    /*stroke-dashoffset: 35%;*/
    stroke-dasharray: 100% 0%;
    /*fill: transparent;*/
  }
  65%{
  	stroke-opacity: 0;
  	/*stroke-width: 0px;*/
  }
  100% {
  	/*stroke-width: 0px;*/
    /*stroke-dashoffset: 35%;*/
    /*stroke-dasharray: 100% 0%;*/
    fill: white;
  }

}

@keyframes stroke-offset {
	25%{
		fill: transparent;
	}
	35%{
		/*stroke-width: .5px;*/
		stroke-opacity: 0.3;
	}
  50% {
    /*stroke-dashoffset: 35%;*/
    stroke-dasharray: 100% 0%;
    /*stroke-width: 0px;*/
  }
  65%{
  	stroke-opacity: 0;
  	/*stroke-width: 0px;*/
  }
  100% {
  	/*stroke-width: 0px;*/
    /*stroke-dashoffset: 35%;*/
    /*stroke-dasharray: 100% 0%;*/
    fill: white;
  }
}